.videoCard {
  margin-bottom: 40px;
  width: 270px;
  z-index: 10;
}
.videoCard_thumbnail {
  height: 140px;
  width: 250px;
  border: 1px solid aqua;
  z-index: 100;
}

.videoCard_info {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
  z-index: 100;
}
.videoCard_text {
  margin-left: 15px;
  color: white;
  z-index: 100;
}
.videoCard_text > h4 {
  font-size: 14px;
  margin-bottom: 5px;
  color: white !important;
  z-index: 100;
}
.videoCard_text > p {
  font-size: 14px;
  color: white !important;
  z-index: 100;
}
.videoCard_avatar {
  height: 30px !important;
  width: 30px !important;
  z-index: 10;
}
