.SidebarRow {
  display: flex;
  flex: 0.2 1;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border: 1px solid red;
  align-items: center;
  width: 180px;
}
