.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 200px;
  max-height: 250px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo{
  height: 100px;
  object-fit: contain;
  margin-left: 20px;
}
.header__input{
  display: flex;
  align-items: center;
  width:40%;
  border:1px solid aqua; 
}
.header__icon{
  display: flex;
  align-items: center;
}
.header__input > input {
  flex: 1;
  border: none;
}
.MuiSvgIcon-root {
  color:aqua;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.ui.column.grid>[class*="five wide"].column, .ui.grid>.column.row>[class*="five wide"].column, .ui.grid>.row>[class*="five wide"].column, .ui.grid>[class*="five wide"].column {
  width: 31.25%!important;
  width:-webkit-fill-available!important;
  
}
.ui.column.grid>[class*="eleven wide"].column, .ui.grid>.column.row>[class*="eleven wide"].column, .ui.grid>.row>[class*="eleven wide"].column, .ui.grid>[class*="eleven wide"].column {
  width: 68.75%!important;
  width:-webkit-fill-available!important;
}
