.app__page {
  display: flex;
}
canvas {
  position: fixed;
  top:0;
  width: 100%;
  height: 100% !important;
}
element.style {
  width: 100%;
  height: 150% !important;
  background-color: rgb(0, 0, 0);
  pointer-events: initial;
}

h4 {
  color: white;
}
p {
  color: white;
}
h2 {
  color: white;
}
